/* Reset CSS básico*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
 
/*=================================================
    VARIÁVEIS CSS
=================================================*/
:root {
/*Variáveis de cores*/
    --color-blue:#0D121E;
    --color-blue1:#080B16; 
    --color-yellow:#F0B35B;
    --color-light:#F2F5FD;
    --color-light1:#DFDFDF;
    --color-gray:#4F4F4F;

    /*Variáveis de fontes*/
    --font-family: 'Poppins', sans-serif;
}

/*=================================================
    ESTILOS GERAIS
=================================================*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blue);
    padding: 1rem 2rem;
}

.logo-nav {
    display: flex;
    flex-direction: row;
    gap: 88px;
}

.logo img{
    max-width: 64px;
    max-height: 64px;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    align-items: center;
    color: var(--color-light);
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: bold;
}

.btn-primary {
    display: flex;
    padding: 0.625rem 4rem;
    border-radius: 4px;
    color: var(--color-blue1);
    background-color: var(--color-yellow);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: bold;
}